.logotip {
	width: 250px;
	color: rgb(226, 230, 27);
	font-size: 46px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 0.8em;
	text-decoration: none;
}

.logo_bird {
	color: #2b7a69da;
}
